/* FONTES */

:root {
    --header-color: #fefeff;
    --h1-color:#fefeff;
    --h2-color: #dcdce2;
    --btn-dark-bg:rgba(23, 26, 32, 0.8);
    --btn-ligth-bg: rgba(255, 255, 255, 0.65);
    --btn-dark-color: #fff;
    --btn-ligth-color: black;
}

@font-face {
    font-family: GothamMedium;
    src: url('fonts/GothamMedium.otf');
}

@font-face {
    font-family: GothamBook;
    src: url('fonts/GothamBookRegular.otf');
}

body {
    font-family: 'GothamMedium', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header ul, header li {
    list-style: none;
}

header .logo {
    width: 120px;
    margin-left: 20px;
    margin-top: 45px;
}

header .middle ul {
    display: flex;
}

header .middle li {
    margin: 0 10px;

}

header .middle a {
    text-decoration: none;
    color: var(--header-color);
    text-transform: uppercase;
}

header .rigthside ul {
    display: flex;
}

header .rigthside li {
    margin: 0 10px;
}

header .rigthside a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--header-color);
}

header .menu--icon {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    cursor: pointer;
}

header .menu--icon div {
    height: 2px;
    background-color: var(--header-color);
}

main {
    background-image: url('images/harleydavidson-fat-boy-2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

main .info {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-right: 200px;
}

main h1 {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    color: var(--h1-color);
}

main h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'GothamBook', Helvetica, sans-serif;
    color: var(--h2-color);
}

main h2 a {
    color: var(--h2-color);
}

/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 30px;
    right: 0;
}

footer .buttons--area {
    display: flex;
    justify-content: center;
}

footer .buttons--area a{
    display: block;
    width: 220px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    border-radius: 30px;
    margin: 0 10px;
}

footer .btn--dark {
    background-color: var(--btn-dark-bg);
    color: var(--btn-dark-color);
}

footer .btn--ligth {
    background-color: var(--btn-ligth-bg);
    color: var(--btn-ligth-color);
}

footer .arrow--area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
}

@keyframes arrow {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 15px;
    }
    100% {
        margin-top: 0px;
    }
}

footer .arrow {
    height: 15px;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.banner-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/photo-1481567758055-3e8a6e89ca58.jpg');
}

#historia {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 240px;
    height: 150px;
    margin-left: 50px;
    width: 40%;
    font-size: 20px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: white;
}

.banner-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/air-intake-on-harley-davidson-wallpaper-500x667.jpg');
}

.banner2-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/27-276966_harley-davidson-4k-hd.jpg');
}

#historia2 {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 130px;
    height: 150px;
    margin-left: 50px;
    width: 20%;
    font-size: 15px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #000 2px 3px 2px;
}

.banner2-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/harley-davidson-xg750r-wallpaper-500x667.jpg');
}

.banner3-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/510.webp');
}

#historia3 {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 150px;
    height: 150px;
    margin-left: 50px;
    width: 40%;
    font-size: 15px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: #dcdce2 2px 3px 2px;
}


.banner3-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/61215058db1957ebf8ddfa111305a4ae.jpg');
}

.banner4-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/6876802277_293649e2d2_b.jpg');
}

#historia4 {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 120px;
    height: 150px;
    margin-left: 50px;
    width: 40%;
    font-size: 15px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: #dcdce2 2px 3px 2px;
}


.banner4-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/26ef0386d65ac154a99d9bf9f0f67968.png');
}

.banner5-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/motorcycles-girls-and-motorcycles-harley-davidson-pin-up-wallpaper-preview.jpg');
}

#historia5 {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 80px;
    height: 150px;
    margin-left: 750px;
    width: 40%;
    font-size: 15px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #000 2px 3px 2px;
}

.banner5-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/e3cbbefaf83578a0388c4dddbc2dba27.jpg');
}

.banner6-space {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/110881.jpg');
}

#historia6 {
    display: flex;
    margin: 0;
    position: absolute;
    margin-top: 180px;
    height: 150px;
    margin-left: 80px;
    width: 40%;
    font-size: 15px;
    font-family: 'GothamBook', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #000 2px 3px 2px;
}

.banner6-space-mobile {
    display: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('images/9148208c35b4c317284b4ee2435577bc.jpg');
}


@media (min-width:350px) and (max-width: 450px) {
    
    header {
        display: flex;
        flex-direction: row;
        min-height: 200px;
    }
    
    .logo {
        background: rgba(0, 0, 0, 0.0);
    }

    .leftside {
        margin-top: -120px;
        cursor: pointer;
    }

    .middle {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        line-height: 20px;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        cursor: pointer;
    }

    .rigthside {
        margin-top: -80px;
        line-height: 20px;
        margin-left: -20px;
        cursor: pointer;
    }

   .info-space {
       height: 180px;
       width: 200px;
       margin-top: 180px;
       margin-left: 50px;
   }

   .banner-space {
       display: none;
   }

   .banner-space-mobile {
       display: block;
   }

   #historia {
       font-size: 18px;
       width: 80%;
       height: 50px;
       margin-top: 350px;
       text-shadow: #000 2px 3px 2px;
   }

   .banner2-space {
       display: none;
   }

   .banner2-space-mobile {
       display: block;
   }

   #historia2 {
    font-size: 15px;
    width: 80%;
    height: 50px;
    margin-top: 290px;
    text-shadow: #000 2px 3px 2px;
   }

   .banner3-space {
    display: none;
   }

   .banner3-space-mobile {
       display: block;
   }

   #historia3 {
    font-size: 15px;
    width: 80%;
    height: 50px;
    margin-top: 250px;
    color: white;
    text-shadow: #000 2px 3px 2px;
   }

   .banner4-space {
    display: none;
   }

   .banner4-space-mobile {
       display: block;
   }

   #historia4 {
    font-size: 15px;
    width: 80%;
    margin-top: 170px;
    color: white;
    text-shadow: #000 2px 3px 2px;
   }


   .banner5-space {
    display: none;
   }

   .banner5-space-mobile {
       display: block;
   }

   #historia5 {
    font-size: 15px;
    width: 80%;
    margin-top: 260px;
    margin-left: 70px;
    color: white;
    text-shadow: #000 2px 3px 2px;
   }

   .banner6-space {
    display: none;
   }

   .banner6-space-mobile {
       display: block;
   }

   #historia6 {
    font-size: 15px;
    width: 80%;
    margin-top: 260px;
    margin-left: 20px;
    color: white;
    text-shadow: #000 2px 3px 2px;
   }

}

@media (min-width:750px) and (max-width:800px) {

    header {
        width: 100%;
       
    }

    .rigthside {
        margin-left: -35px;
    }

    .info-space {
        margin-top: -70px;
        margin-left: 200px;
    }
}

@media (min-width:350px) and (max-width:370px) {
    
    .info-space {
        margin-top: 140px;
    }

    .middle {
        font-size: 10px;
    }

    .rigthside {
        font-size: 10px;
    }

    #historia {
        font-size: 14px;
        margin-top: 270px;
    }
}